<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title> Gestion Patrimoine </title>

    <!-- CSS Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <!-- Ton CSS Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <span id="ci">Rabat – Système d'information urbain</span>
        <h1><span id="span">🗺</span> Cartographie du patrimoine de Rabat</h1>
        <p>Monuments, bâtiments administratifs et jardins</p>
    </header>

    <!-- Boutons de filtre de la CARTE -->
    <div class="controls">
        <button class="btn" onclick="showAll()">🌍 Tout afficher</button>
        <button class="btn" onclick="showMonuments()">🏛 Monuments</button>
        <button class="btn" onclick="showBuildings()">🏢 Bâtiments</button>
        <button class="btn" onclick="showJardins()">🌳 Jardins</button>
    </div>

    <!-- Conteneur de la carte -->
    <div id="map"></div>
    <!-- ========= MENU PRINCIPAL DES SECTIONS ========= -->
    <div class="menu-sections">
        <button onclick="openSection('zones'); resetZoneForm();"> 🌍 Zones </button>
        <button onclick="openSection('proprietaires'); resetProprietaireForm();"> 👤 Propriétaires </button>
        <button onclick="openSection('types'); resetTypeForm();"> 🏗 Types de Bâtiment</button>
        <button onclick="openSection('batiments'); resetBatimentForm();"> 🏛 Bâtiments </button>
        <button onclick="openSection('prestataires'); resetPrestataireForm();"> 🧱 Prestataires </button>
        <button onclick="openSection('interventions'); resetInterventionForm();"> 🛠 Interventions</button>
        <button onclick="openSection('inspections'); resetInspectionForm();"> 🔍 Inspections</button>
        <button onclick="openSection('documents'); resetDocumentForm();"> 📄 Documents</button>
        <button onclick="openSection('etat_conservation')">📌 État Conservation</button>
        <button onclick="openSection('rapports')">📊 Rapports</button>
    </div>

    <!-- ========= SECTIONS CONTENU ========= -->

    <!-- ZONES -->
    <section id="zones" class="content-section" style="display:none;">
        <h2>Gestion des Zones</h2>

        <h3>Ajouter une zone</h3>
        <form action="/add_zone" method="POST" id="form-zone">

            <input type="hidden" name="id_zone" id="zone_id">

            <label>Nom Zone :</label>
            <input type="text" name="nom_zone" id="zone_nom" required>

            <button type="submit" id="zone_submit_btn">Ajouter</button>
        </form>


        <h3>Liste des Zones</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Modefier</th>
            </tr>

            {% for z in zones %}
            <tr>
                <td>{{ z[0] }}</td>
                <td>{{ z[1] }}</td>
                <td>
                    <a href="#" onclick="editZone('{{ z[0] }}','{{ z[1] }}')">✏️</a>
                </td>

            </tr>

            {% endfor %}
        </table>
    </section>

    <!-- TYPES DE BATIMENT -->
    <section id="types" class="content-section" style="display:none;">
        <h2>Gestion des Types de Bâtiment</h2>

        <h3>Ajouter un type</h3>
        <form action="/add_type" method="POST" id="form-type">

            <!-- utilisé seulement pour modification -->
            <input type="hidden" name="id_type" id="type_id">

            <label>Libellé :</label>
            <input type="text" name="libelle" id="type_libelle" required><br>

            <button type="submit" id="type_submit_btn">Ajouter</button>
        </form>


        <h3>Liste des Types</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Libellé</th>
                <th>Modefier</th>
            </tr>

            {% for t in types %}
            <tr>
                <td>{{ t[0] }}</td>
                <td>{{ t[1] }}</td>
                <td>
                    <a href="#" onclick="editType('{{ t[0] }}','{{ t[1] }}')">
                        ✏️
                    </a>
                </td>

            </tr>

            {% endfor %}
        </table>
    </section>

    <!-- PROPRIETAIRES -->
    <section id="proprietaires" class="content-section" style="display:none;">
        <h2>Gestion des Propriétaires</h2>

        <h3>Ajouter un propriétaire</h3>
        <form action="/add_proprietaire" method="POST" id="form-proprietaire">

            <!-- utilisé seulement pour modification -->
            <input type="hidden" name="id_proprietaire" id="prop_id">

            <label>Nom :</label>
            <input type="text" name="nom_proprietaire" id="prop_nom" required><br>

            <label>Type :</label>
            <input type="text" name="type_proprietaire" id="prop_type" required><br>

            <label>Contact :</label>
            <input type="text" name="contact" id="prop_contact"><br>

            <button type="submit" id="prop_submit_btn">Ajouter</button>
        </form>


        <h3>Liste des Propriétaires</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Contact</th>
                <th>Modifier</th>
            </tr>

            {% for p in proprietaires %}
            <tr>
                <td>{{ p[0] }}</td>
                <td>{{ p[1] }}</td>
                <td>{{ p[2] }}</td>
                <td>{{ p[3] }}</td>
                <td>
                    <a href="#" onclick="editProprietaire(
                    '{{ p[0] }}',
                    '{{ p[1] }}',
                    '{{ p[2] }}',
                    '{{ p[3] }}'
                )">
                        ✏️
                    </a>
                </td>

            </tr>

            {% endfor %}
        </table>
    </section>

    <!-- ETAT DE CONSERVATION -->
    <section id="etat_conservation" class="content-section" style="display:none;">
        <h2>État de Conservation des Bâtiments</h2>

        <h3>Liste des états</h3>
        <table>
            <tr>
                <th>Bâtiment</th>
                <th>Date</th>
                <th>État</th>
            </tr>
            {% for e in etat_conservation %}
            <tr>
                <td>{{ e[0] }}</td>
                <td>{{ e[1] }}</td>
                <td>{{ e[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <!-- BÂTIMENTS -->
    <section id="batiments" class="content-section">
        <h2>Gestion des Bâtiments</h2>
        <div class="form-container">
            <h3>Ajouter un bâtiment</h3>
            <form action="/add_batiment" method="POST" id="form-batiment">

                <!-- utilisé seulement pour la modification -->
                <input type="hidden" name="id_batiment" id="id_batiment">

                <label>Nom :</label>
                <input type="text" name="name" id="bat_nom" required><br>

                <label>Année :</label>
                <input type="number" name="year" id="bat_year" min="1800" max="2100" required><br>

                <label>État / Protection :</label>
                <input type="text" name="etat" id="bat_etat" required><br>

                <label>Latitude :</label>
                <input type="text" name="latitude" id="bat_lat" required><br>

                <label>Longitude :</label>
                <input type="text" name="longitude" id="bat_lon" required><br>

                <label>Adresse :</label>
                <input type="text" name="adresse" id="bat_adresse" required><br>

                <!-- ZONE -->
                <label>Zone :</label>
                <select name="zone" id="bat_zone">
                    <option value="">Aucune</option>
                    {% for z in zones %}
                    <option value="{{ z[0] }}">{{ z[1] }}</option>
                    {% endfor %}
                </select><br>

                <!-- TYPE -->
                <label>Type :</label>
                <select name="type" id="bat_type">
                    <option value="">Aucun</option>
                    {% for t in types %}
                    <option value="{{ t[0] }}">{{ t[1] }}</option>
                    {% endfor %}
                </select><br>

                <!-- PROPRIÉTAIRE -->
                <label>Propriétaire :</label>
                <select name="proprietaire" id="bat_prop">
                    <option value="">Aucun</option>
                    {% for p in proprietaires %}
                    <option value="{{ p[0] }}">{{ p[1] }}</option>
                    {% endfor %}
                </select><br>

                <button type="submit" id="bat_submit_btn">Ajouter</button>


            </form>


            <h3>Liste des Bâtiments</h3>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>adresse</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Année</th>
                    <th>État</th>
                    <th>Zone</th>
                    <th>Type</th>
                    <th>Propriétaire</th>
                    <th>Modefier</th>
                </tr>

                {% for b in batiments %}
                <tr>
                    <td>{{ b[0] }}</td>
                    <td>{{ b[1] }}</td>
                    <td>{{ b[2] }}</td>
                    <td>{{ b[3] }}</td>
                    <td>{{ b[4] }}</td>
                    <td>{{ b[5] }}</td>
                    <td>{{ b[6] }}</td>
                    <td>{{ b[7] }}</td>
                    <td>{{ b[8] }}</td>
                    <td>{{ b[9] }}</td>
                    <td>
                        <a href="#" onclick="editBatiment(
                        '{{ b[0] }}',
                        '{{ b[1] }}',
                        '{{ b[5] }}',
                        '{{ b[6] }}',
                        '{{ b[3] }}',
                        '{{ b[4] }}',
                        '{{ b[2] }}',
                        '{{ b[7] }}',
                        '{{ b[8] }}',
                        '{{ b[9] }}'
                    )">
                            ✏️
                        </a>
                    </td>

                </tr>

                {% endfor %}
            </table>
    </section>

    <!-- PRESTATAIRES -->
    <section id="prestataires" class="content-section" style="display:none;">
        <h2>Gestion des Prestataires</h2>

        <h3>Ajouter un prestataire</h3>
        <form action="/add_prestataire" method="POST" id="form-prestataire">

            <!-- utilisé seulement pour modification -->
            <input type="hidden" name="id_prestataire" id="pres_id">

            <label>Nom :</label>
            <input type="text" name="nom" id="pres_nom" required><br>

            <label>Type :</label>
            <input type="text" name="type" id="pres_type" required><br>

            <label>Contact :</label>
            <input type="text" name="contact" id="pres_contact"><br>

            <button type="submit" id="pres_submit_btn">Ajouter</button>
        </form>


        <h3>Liste des Prestataires</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Contact</th>
                <th>Modifier</th>
            </tr>

            {% for p in prestataires %}
            <tr>
                <td>{{ p[0] }}</td>
                <td>{{ p[1] }}</td>
                <td>{{ p[2] }}</td>
                <td>{{ p[3] }}</td>
                <td>
                    <a href="#" onclick="editPrestataire(
                    '{{ p[0] }}',
                    '{{ p[1] }}',
                    '{{ p[2] }}',
                    '{{ p[3] }}'
                )">
                        ✏️
                    </a>
                </td>

            </tr>

            {% endfor %}
        </table>
    </section>

    <!-- INTERVENTIONS -->
    <section id="interventions" class="content-section" style="display:none;">
        <h2>Gestion des Interventions</h2>

        <h3>Ajouter une intervention</h3>
        <form action="/add_intervention" method="POST" id="form-intervention">

            <!-- utilisé seulement pour modification -->
            <input type="hidden" name="id_intervention" id="interv_id">

            <label>Bâtiment :</label>
            <select name="batiment" id="interv_batiment" required>
                {% for b in batiments %}
                <option value="{{ b[0] }}">{{ b[1] }}</option>
                {% endfor %}
            </select><br>

            <label>Prestataire :</label>
            <select name="prestataire" id="interv_prestataire" required>
                {% for p in prestataires %}
                <option value="{{ p[0] }}">{{ p[1] }}</option>
                {% endfor %}
            </select><br>

            <label>Date travaux :</label>
            <input type="date" name="date_travaux" id="interv_date" required><br>

            <label>Type travaux :</label>
            <input type="text" name="type_travaux" id="interv_type" required><br>

            <label>Coût :</label>
            <input type="number" step="0.01" name="cout" id="interv_cout"><br>

            <button type="submit" id="interv_submit_btn">Ajouter</button>
        </form>


        <h3>Liste des Interventions</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Bâtiment</th>
                <th>Prestataire</th>
                <th>Date</th>
                <th>Type</th>
                <th>Coût</th>
                <th>Modefier</th>
            </tr>

            {% for i in interventions %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>
                <td>{{ i[4] }}</td>
                <td>{{ i[5] }}</td>
                <td>
                    <a href="#" onclick="editIntervention(
                    '{{ i[0] }}',
                    '{{ i[1] }}',
                    '{{ i[2] }}',
                    '{{ i[3] }}',
                    '{{ i[4] }}',
                    '{{ i[5] }}'
                )">
                        ✏️
                    </a>
                </td>

            </tr>

            {% endfor %}
        </table>
    </section>

    <!-- INSPECTIONS -->
    <section id="inspections" class="content-section" style="display:none;">
        <h2>Gestion des Inspections</h2>

        <h3>Ajouter une inspection</h3>
        <form action="/add_inspection" method="POST" id="form-inspection">

            <!-- utilisé seulement pour modification -->
            <input type="hidden" name="id_inspection" id="insp_id">

            <label>Bâtiment :</label>
            <select name="batiment" id="insp_batiment" required>
                {% for b in batiments %}
                <option value="{{ b[0] }}">{{ b[1] }}</option>
                {% endfor %}
            </select><br>

            <label>Date inspection :</label>
            <input type="date" name="date_inspection" id="insp_date" required><br>

            <label>Rapport :</label>
            <textarea name="rapport" id="insp_rapport"></textarea><br>

            <button type="submit" id="insp_submit_btn">Ajouter</button>
        </form>


        <h3>Liste des Inspections</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Bâtiment</th>
                <th>Date</th>
                <th>Rapport</th>
                <th>Modifier</th>
            </tr>

            {% for ins in inspections %}
            <tr>
                <td>{{ ins[0] }}</td>
                <td>{{ ins[1] }}</td>
                <td>{{ ins[2] }}</td>
                <td>{{ ins[3] }}</td>
                <td>
                    <a href="#" onclick="editInspection(
                    '{{ ins[0] }}',
                    '{{ ins[1] }}',
                    '{{ ins[2] }}',
                    '{{ ins[3] }}'
                )">
                        ✏️
                    </a>
                </td>

            </tr>

            {% endfor %}
        </table>
    </section>

    <!-- DOCUMENTS -->
    <section id="documents" class="content-section" style="display:none;">
        <h2>Gestion des Documents</h2>

        <h3>Ajouter un document</h3>
        <form action="/add_document" method="POST" id="form-document">

            <!-- utilisé seulement pour modification -->
            <input type="hidden" name="id_doc" id="doc_id">

            <label>Bâtiment :</label>
            <select name="batiment" id="doc_batiment" required>
                {% for b in batiments %}
                <option value="{{ b[0] }}">{{ b[1] }}</option>
                {% endfor %}
            </select><br>

            <label>Chemin / Nom fichier :</label>
            <input type="text" name="chemin" id="doc_chemin" required><br>

            <label>Type document :</label>
            <input type="text" name="type_doc" id="doc_type"><br>

            <button type="submit" id="doc_submit_btn">Ajouter</button>
        </form>


        <h3>Liste des Documents</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Bâtiment</th>
                <th>Chemin</th>
                <th>Type</th>
                <th>Modefier</th>
            </tr>

            {% for d in documents %}
            <tr>
                <td>{{ d[0] }}</td>
                <td>{{ d[1] }}</td>
                <td>{{ d[2] }}</td>
                <td>{{ d[3] }}</td>
                <td>
                    <a href="#" onclick="editDocument(
                    '{{ d[0] }}',
                    '{{ d[1] }}',
                    '{{ d[2] }}',
                    '{{ d[3] }}'
                )">
                        ✏️
                    </a>
                </td>

            </tr>

            {% endfor %}
        </table>
    </section>

    <!-- RAPPORTS -->
    <section id="rapports" class="content-section">
        <h2>Rapports et Synthèses</h2>
        <p>
            Cette section donne accès aux rapports détaillés sur l’état du patrimoine,
            les interventions, les prestataires et les coûts par quartier.
        </p>
        <p>
            <a href="/rapports" id="cli">Cliquer ici pour voir les rapports détaillés</a>
        </p>
    </section>
    </div>

    <!-- ========= SCRIPTS ========= -->

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <script>

        /* ------ Gestion des sections (menu) ------ */
        function openSection(id) {
            document.querySelectorAll(".content-section").forEach(sec => {
                sec.style.display = "none";
            });
            const el = document.getElementById(id);
            if (el) el.style.display = "block";
        }
        openSection('zones');  // Section par défaut

        /* ======================================================
           =============     CARTE LEAFLET RABAT     ============
           ====================================================== */

        /* ----------- CARTE LIMITÉE À RABAT ----------- */

        // Limites géographiques exactes de Rabat (de Témara au Bouregreg)
        const rabatBounds = L.latLngBounds(
            [33.940, -6.950],   // Sud-Ouest
            [34.120, -6.680]    // Nord-Est
        );

        // Création de la carte
        const map = L.map('map', {
            maxBounds: rabatBounds,          // Empêche de sortir de Rabat
            maxBoundsViscosity: 1.0,         // Rebond doux sur les limites
            minZoom: 12,                     // Empêche de trop dézoomer
            maxZoom: 18
        }).setView([34.020, -6.820], 13);    // Centre parfait de Rabat

        // Fond de carte OSM
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
            attribution: "© OpenStreetMap contributors"
        }).addTo(map);


        /* === LAYERS === */
        const monuments = L.layerGroup();
        const buildings = L.layerGroup();
        const jardins = L.layerGroup();


        /* ======================================================
           =============         MONUMENTS          ==============
           ====================================================== */
        const monumentsData = [
            { name: "Tour Hassan", lat: 34.024259, long: -6.822222 },
            { name: "Mausolée Mohammed V", lat: 34.022805, long: -6.822462 },
            { name: "Kasbah des Oudayas", lat: 34.031287, long: -6.836695 },
            { name: "Chellah", lat: 34.010873, long: -6.820784 },
            { name: "Bab Rouah", lat: 34.017884, long: -6.842290 },
            { name: "Musée Mohammed VI d’Art Moderne", lat: 34.015145, long: -6.830646 },
            { name: "Ancienne Médina de Rabat", lat: 34.026836, long: -6.837039 },
            { name: "Bab El Had", lat: 34.022449, long: -6.837110 },
            { name: "Bab Oudaïa", lat: 34.030713, long: -6.840454 }
        ];

        monumentsData.forEach(m =>
            L.marker([m.lat, m.long]).bindPopup("🏛️ <b>" + m.name + "</b>").addTo(monuments)
        );


        /* ======================================================
           =============            JARDINS          =============
           ====================================================== */
        const jardinsData = [
            { name: "Jardin d’Essais Botaniques", lat: 34.002600, long: -6.846900 },
            { name: "Forêt Ibn Sina (Hilton)", lat: 34.007500, long: -6.867300 },
            { name: "Jardin Nouzhat Hassan", lat: 34.019900, long: -6.836000 },
            { name: "Parc Hassan II", lat: 34.015900, long: -6.824600 },
            { name: "Jardins Exotiques Bouknadel", lat: 34.140300, long: -6.663100 },
            { name: "Parc Zoologique de Rabat", lat: 33.977500, long: -6.866900 },
            { name: "Jardin Tour Hassan", lat: 34.024200, long: -6.821500 },
            { name: "Jardin de l’Agdal", lat: 34.010800, long: -6.836900 },
            { name: "Parc Oudayas", lat: 34.027900, long: -6.841400 },
            { name: "Jardin Ibn Rochd", lat: 34.020300, long: -6.832500 }
        ];
        jardinsData.forEach(j =>
            L.marker([j.lat, j.long]).bindPopup("🌳 <b>" + j.name + "</b>").addTo(jardins)
        );


        /* ======================================================
           ===========    BÂTIMENTS ADMINISTRATIFS    ===========
           ====================================================== */
        const buildingsData = [
            { name: "Parlement du Maroc", lat: 34.019000, long: -6.836000 },
            { name: "Ministère de l’Intérieur", lat: 34.018200, long: -6.832000 },
            { name: "Gare Rabat Agdal", lat: 34.002000, long: -6.836000 },
            { name: "Gare Rabat Ville", lat: 34.020000, long: -6.836000 },
            { name: "Hôpital Avicenne", lat: 34.006000, long: -6.855000 },
            { name: "Hôpital Ibn Sina", lat: 34.005000, long: -6.850000 },
            { name: "Palais Royal", lat: 34.005000, long: -6.824000 },
            { name: "Siège du Gouvernement", lat: 34.018000, long: -6.829000 }
        ];
        buildingsData.forEach(b =>
            L.marker([b.lat, b.long]).bindPopup("🏢 <b>" + b.name + "</b>").addTo(buildings)
        );


        /* ======================================================
           =============   AFFICHAGE PAR DÉFAUT   ===============
           ====================================================== */
        monuments.addTo(map);
        buildings.addTo(map);
        jardins.addTo(map);


        /* ======================================================
           =============        FILTRES CARTE        =============
           ====================================================== */

        function showAll() {
            monuments.addTo(map);
            buildings.addTo(map);
            jardins.addTo(map);
        }

        function showMonuments() {
            map.removeLayer(buildings);
            map.removeLayer(jardins);
            monuments.addTo(map);
        }

        function showBuildings() {
            map.removeLayer(monuments);
            map.removeLayer(jardins);
            buildings.addTo(map);
        }

        function showJardins() {
            map.removeLayer(monuments);
            map.removeLayer(buildings);
            jardins.addTo(map);
        }


        // ===============================
        // GESTION AFFICHAGE DES SECTIONS
        // ===============================

        function openSection(sectionId) {
            // masquer toutes les sections
            document.querySelectorAll('.content-section').forEach(section => {
                section.style.display = 'none';
            });

            // afficher la section demandée
            const target = document.getElementById(sectionId);
            if (target) {
                target.style.display = 'block';
            }
        }

        // section affichée par défaut au chargement
        document.addEventListener("DOMContentLoaded", function () {
            openSection('zones'); // ✅ change si tu veux une autre section au départ
        });

    </script>
    <script>
        function editBatiment(
            id, nom, year, etat,
            lat, lon, adresse,
            zone, type, prop
        ) {
            // afficher la section bâtiments
            openSection('batiments');

            // changer action du formulaire
            const form = document.getElementById("form-batiment");
            form.action = "/update_batiment";

            // remplir les champs
            document.getElementById("id_batiment").value = id;
            document.getElementById("bat_nom").value = nom;
            document.getElementById("bat_year").value = year;
            document.getElementById("bat_etat").value = etat;
            document.getElementById("bat_lat").value = lat;
            document.getElementById("bat_lon").value = lon;
            document.getElementById("bat_adresse").value = adresse;
            document.getElementById("bat_zone").value = zone;
            document.getElementById("bat_type").value = type;
            document.getElementById("bat_prop").value = prop;
            // passer en mode modification
            document.getElementById("bat_submit_btn").innerText = "Modifier";

        }
        // passer en mode modification

        function resetBatimentForm() {
            const form = document.getElementById("form-batiment");
            form.reset();
            form.action = "/add_batiment";

            document.getElementById("id_batiment").value = "";
            document.getElementById("bat_submit_btn").innerText = "Ajouter";
        }

    </script>

    <script>
        function editZone(id, nom) {
            openSection('zones');

            document.getElementById("form-zone").action = "/update_zone";
            document.getElementById("zone_id").value = id;
            document.getElementById("zone_nom").value = nom;
            document.getElementById("zone_submit_btn").innerText = "Modifier";
        }

        function resetZoneForm() {
            document.getElementById("form-zone").reset();
            document.getElementById("form-zone").action = "/add_zone";
            document.getElementById("zone_submit_btn").innerText = "Ajouter";
        }
    </script>



    <script>
        function editProprietaire(id, nom, type, contact) {
            openSection('proprietaires');

            const form = document.getElementById("form-proprietaire");
            form.action = "/update_proprietaire";

            document.getElementById("prop_id").value = id;
            document.getElementById("prop_nom").value = nom;
            document.getElementById("prop_type").value = type;
            document.getElementById("prop_contact").value = contact || "";

            document.getElementById("prop_submit_btn").innerText = "Modifier";
        }

        function resetProprietaireForm() {
            const form = document.getElementById("form-proprietaire");
            form.reset();
            form.action = "/add_proprietaire";

            document.getElementById("prop_id").value = "";
            document.getElementById("prop_submit_btn").innerText = "Ajouter";
        }
    </script>

    <script>
        function editType(id, libelle) {
            openSection('types');

            const form = document.getElementById("form-type");
            form.action = "/update_type";

            document.getElementById("type_id").value = id;
            document.getElementById("type_libelle").value = libelle;

            document.getElementById("type_submit_btn").innerText = "Modifier";
        }

        function resetTypeForm() {
            const form = document.getElementById("form-type");
            form.reset();
            form.action = "/add_type";

            document.getElementById("type_id").value = "";
            document.getElementById("type_submit_btn").innerText = "Ajouter";
        }
    </script>

    <script>
        function editPrestataire(id, nom, type, contact) {
            openSection('prestataires');

            const form = document.getElementById("form-prestataire");
            form.action = "/update_prestataire";

            document.getElementById("pres_id").value = id;
            document.getElementById("pres_nom").value = nom;
            document.getElementById("pres_type").value = type;
            document.getElementById("pres_contact").value = contact || "";

            document.getElementById("pres_submit_btn").innerText = "Modifier";
        }

        function resetPrestataireForm() {
            const form = document.getElementById("form-prestataire");
            form.reset();
            form.action = "/add_prestataire";

            document.getElementById("pres_id").value = "";
            document.getElementById("pres_submit_btn").innerText = "Ajouter";
        }
    </script>


    <script>
        function editIntervention(id, batimentNom, prestataireNom, date, typeTravaux, cout) {
            openSection('interventions');

            const form = document.getElementById("form-intervention");
            form.action = "/update_intervention";

            // remplir champs simples
            document.getElementById("interv_id").value = id;
            document.getElementById("interv_date").value = date;
            document.getElementById("interv_type").value = typeTravaux;
            document.getElementById("interv_cout").value = cout || "";

            // sélectionner bâtiment par nom
            const batSelect = document.getElementById("interv_batiment");
            for (let opt of batSelect.options) {
                if (opt.text === batimentNom) {
                    opt.selected = true;
                    break;
                }
            }

            // sélectionner prestataire par nom
            const presSelect = document.getElementById("interv_prestataire");
            for (let opt of presSelect.options) {
                if (opt.text === prestataireNom) {
                    opt.selected = true;
                    break;
                }
            }

            // bouton en mode modification
            document.getElementById("interv_submit_btn").innerText = "Modifier";
        }

        function resetInterventionForm() {
            const form = document.getElementById("form-intervention");
            form.reset();
            form.action = "/add_intervention";

            document.getElementById("interv_id").value = "";
            document.getElementById("interv_submit_btn").innerText = "Ajouter";
        }
    </script>

    <script>
        function editInspection(id, batimentNom, date, rapport) {
            openSection('inspections');

            const form = document.getElementById("form-inspection");
            form.action = "/update_inspection";

            document.getElementById("insp_id").value = id;
            document.getElementById("insp_date").value = date;
            document.getElementById("insp_rapport").value = rapport || "";

            // sélectionner bâtiment par nom
            const batSelect = document.getElementById("insp_batiment");
            for (let opt of batSelect.options) {
                if (opt.text === batimentNom) {
                    opt.selected = true;
                    break;
                }
            }

            document.getElementById("insp_submit_btn").innerText = "Modifier";
        }

        function resetInspectionForm() {
            const form = document.getElementById("form-inspection");
            form.reset();
            form.action = "/add_inspection";

            document.getElementById("insp_id").value = "";
            document.getElementById("insp_submit_btn").innerText = "Ajouter";
        }
    </script>

    <script>
        function editDocument(id, batimentNom, chemin, typeDoc) {
            openSection('documents');

            const form = document.getElementById("form-document");
            form.action = "/update_document";

            document.getElementById("doc_id").value = id;
            document.getElementById("doc_chemin").value = chemin;
            document.getElementById("doc_type").value = typeDoc || "";

            // sélectionner bâtiment par nom
            const batSelect = document.getElementById("doc_batiment");
            for (let opt of batSelect.options) {
                if (opt.text === batimentNom) {
                    opt.selected = true;
                    break;
                }
            }

            document.getElementById("doc_submit_btn").innerText = "Modifier";
        }

        function resetDocumentForm() {
            const form = document.getElementById("form-document");
            form.reset();
            form.action = "/add_document";

            document.getElementById("doc_id").value = "";
            document.getElementById("doc_submit_btn").innerText = "Ajouter";
        }
    </script>









</body>

</html>